<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Your Form Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>


        #header {
            background-color: #ccc;
        }

        #sidebar {
            background-color: #ddd;
        }

        #main {
            background-color: #eee;
            height: max-content;
            width:900px;
            margin-left:150px;
            padding-top:10px;
            padding-bottom:100px;
            padding-left:220px;
        }
             #main input {
                margin-bottom: 25px; 
                width:500px
            }
            #main label {
                display:inline-block;
            }
            #footer {
                background-color: #ccc;
                margin-left: 150px
            }
            #resetbutton{
                margin-left:700px;
                margin-bottom:100px;
            }
    </style>
</head>
<body>

    <div class="container mt-5">
        <form id="form" method="post" action="{%url 'index'%}">
            {% csrf_token %}

            <hr class="my-4" style="border-width: 3px; border-color: darkslategrey;">
            <div id="main" class="form-group">
                <label for="{{ form.Kyrgyz_som.id_for_label }}">Kygyz:</label>
                {{ form.Kyrgyz_som }}<br />
                <label for="{{ form.USD.id_for_label }}">USD:</label>
                {{ form.USD }}<br />
                <label for="{{ form.Euro.id_for_label }}">Euro:</label>
                {{ form.Euro }}<br />
            </div>
            <hr class="my-4" style="border-width: 3px; border-color: darkslategrey;">
            <div id="main" class="form-group">
                <label for="{{ form.Fund.id_for_label }}">Fund Category:</label>
                {{ form.Fund }}
            </div>
            <hr class="my-4" style="border-width: 3px; border-color: darkslategrey;">
            <div id="main" class="form-group">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                {{form.email}}<br />
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                {{form.Confirm_Email}}<br />
                <label for="{{ form.First_name.id_for_label }}">First Name:</label>
                {{ form.First_name }}<br />
                <label for="{{ form.Last_name.id_for_label }}">LastName:</label>
                {{ form.Last_name }}<br />
                <label for="{{ form.Phone_number.id_for_label }}">Phone number:</label>
                {{ form.Phone_number }}<br />
                <label for="{{ form.Country.id_for_label }}">Counrty:</label>
                {{ form.Country }}
            </div>
            <hr class="my-4" style="border-width: 3px; border-color: darkslategrey;">
            <div id="footer" class="mb-3">
                <p><h3>Please give your comments</h3></p>
                <br />
                {{ form.Inspired }}
                {{ form.Comments }}
            </div>





            <
            

            <button type="submit" class="btn btn-primary">Submit</button>
            <div id="resetbutton">
                <button type="button" class="btn btn-primary" onclick="clearForm()">Clear Fields</button>
            </div>


        </form>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function clearForm() {
            document.getElementById("form").reset();
        }
    </script>
    <script>
        function convertCurrency(source, value) {
            
            var rateA = 1.0; 
            var rateB = 89.0; 
            var rateC = 100.0; 
            
          

            
            switch (source) {
                case 'A':
                    document.getElementById('currencyB').value = (value * rateB / rateA).toFixed(2);
                    document.getElementById('currencyC').value = (value * rateC / rateA).toFixed(2);
                    
                    // document.getElementById('currencyD').value = (value * rateD / rateA).toFixed(2);
                    break;
                case 'B':
                    document.getElementById('currencyA').value = (value * rateA / rateB).toFixed(2);
                    document.getElementById('currencyC').value = (value * rateC / rateB).toFixed(2);
                    
                     //document.getElementById('currencyD').value = (value * rateD / rateB).toFixed(2);
                    break;
                case 'C':
                    document.getElementById('currencyA').value = (value * rateA / rateC).toFixed(2);
                    document.getElementById('currencyB').value = (value * rateB / rateC).toFixed(2);
                    // Обновление значения поля D в зависимости от курса валюты D к сомам
                     //document.getElementById('currencyD').value = (value * rateD / rateC).toFixed(2);
                    break;
                case 'D':
                    
                     //document.getElementById('currencyA').value = (value * rateA / rateD).toFixed(2);
                     //document.getElementById('currencyB').value = (value * rateB / rateD).toFixed(2);
                     //document.getElementById('currencyC').value = (value * rateC / rateD).toFixed(2);
                    break;
                default:
                    break;
            }
        }
    </script>
</body>
</html>
